<header>

    <!-- Main Header -->
    <div class="navbar align-item-center d-flex">
        <img class="picture" src="http://localhost:8085/images/car.png" alt="">
        <strong style="font-size: 30px; color: white;">PARK AUTO</strong>
        <!--<div class="form-group">   
        </div>-->
        <input type="text" class="form-control" placeholder="search vehicule">
        <span class="fas fa-search"></span>
        <button class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-card-plus"></i>
            <div style="font-size: 12px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
        <h5 class="nav-item">
            <a class="nav-link" routerLink="/vehicules">Home</a>
        </h5>
        <h5 class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
        </h5>
        <h5 class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
        </h5>
        <h5 class="nav-item">
            <a class="nav-link" routerLink="/user/management">Users Management</a>
        </h5>
        <h5 class="nav-item">
            <a class="nav-link" routerLink="/voitures">Voitures</a>
        </h5>
        <h5 class="nav-item">
            <a class="nav-link" routerLink="/camions">Camions</a>
        </h5>
    </div>
</header>
